.custom-shape-divider-bottom-1697273216 {
    position: absolute;
   
    left: 0;
    width: 100%;
    line-height: 0;
   
    z-index: 0;


}

.custom-shape-divider-bottom-1697273216 svg {
    width: 100%;
    height: 165px;
   

}

.shape-fill {
    fill: #ffffff;
    z-index: 10;
    height: calc(100%+1.2px);

   
    
}